[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = "*"
mkdocs-cinder = "*"
cookiecutter = "*"
pytest = "*"
rdflib = "*"

[requires]
python_version = "3.8"
